<div class="login-container">
    <form (ngSubmit)="loginSubmit()">
        <h2>Login</h2>
        <div>
            <label>Username:</label>
            <input type="text" id="username" class="username" placeholder="Username" [formControl]="username">
        </div>
        <br/>
        <div>        
            <label>Password:</label>
            <input type="password" id="password" class="password" placeholder="Password" [formControl]="password">
        </div>
        <br/>
        <div>
            <button class="login-user" type="submit">Submit</button>
            <a class="register-user" routerLink="/register">Register</a>
        </div>
        <br/>
        <strong class="error-message" *ngIf="submitMessage">{{submitMessage}}</strong>
    </form>
</div>