<div class="register-container">
    <form (ngSubmit)="registerSubmit()">
        <h2>Register</h2>
        <div>
            <label>Username:</label>
            <input type="text" id="username" class="username" placeholder="Username" [formControl]="username">
        </div>
        <br/>
        <div>
            <label>Password:</label>
            <input type="password" id="password" class="password" placeholder="Password" [formControl]="password">
        </div>
        <br/>
        <div>
            <label>FirstName:</label>
            <input type="text" id="firstName" class="firstName" placeholder="FirstName" [formControl]="firstName">
        </div>
        <br/>
        <div>
            <label>LastName:</label>
            <input type="text" id="lastName" class="lastName" placeholder="LastName" [formControl]="lastName">
        </div>
        <br/>
        <br/>
        <div>
            <tr>
                <td>
                    <button type="submit" class="register-button" >Submit</button>
                </td>
                <td>
                    <form (ngSubmit)="cancel()">
                        <div>
                            <button type="submit" class="cancel-button"> Go To Login Page</button>
                        </div>
                    </form>
                </td>
            </tr>
        </div>
        <br/>
        <strong class="error-message" *ngIf="submitMessage">{{submitMessage}}</strong>
    </form>
</div>